.project-container {
  padding: 0 10px;
  animation: 2s lineUp ease-out;
}

.project-main {
  display: flex;
  align-items: center;
  gap: 60px;
  & a {
    flex: 1;
  }
}

.project-image {
  min-width: 200px;
  border-radius: 5px;
  position: relative;
  filter: drop-shadow(2px 4px 6px #888888);
  & img {
    object-fit: contain;
    width: 100%;
  }
  &:hover {
    & .overlay {
      opacity: 1;
      cursor: pointer;
    }
  }
  & .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(136, 136, 136, 0.5);
    opacity: 0;
    & img {
      width: 25%;
    }
  }
}

.project-description {
  flex: 1.5;
  font-size: clamp(14px, calc(10px + 1vw), 36px);
  line-height: 1.5;
  a {
    color: var(--AccentBrown);
    &:hover {
      text-decoration: none;
    }
  }
}

header {
  img {
    margin-bottom: 20px;
  }
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 767px) {
  .project-main {
    flex-direction: column;
    gap: 20px;
  }
  header img {
    max-width: 36px;
    margin-bottom: 5px;
  }
  .overlay {
    display: none;
  }
}
