.top-bg,
.bottom-bg {
  position: absolute;
  width: 100%;
}
.top-bg {
  top: 0;
}
.bottom-bg {
  bottom: 0;
}
.bio-content {
  & h3 {
    text-align: center;
    text-transform: uppercase;
  }
  & p {
    font-size: clamp(18px, calc(10px + 1vw), 36px);
    text-align: justify;
    line-height: 1.5;
  }
}

@media screen and(max-width: 767px) {
  .bio-content p {
    text-align: left;
  }
}
