.top-bg,
.bottom-bg {
  position: absolute;
  width: 100%;
}
.top-bg {
  top: 0;
}
.bottom-bg {
  bottom: 0;
}
.bio-content {
  text-align: center;
  & h3 {
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
  }
  & p {
    font-size: clamp(24px, calc(16px + 1vw), 36px);
    text-align: justify;
    line-height: 55px;
  }
}
