.hero-bg {
  width: 20vw;
  position: absolute;
  right: 0;
  top: 0;
  & img {
    width: 100%;
    object-fit: contain;
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 200px;
  & h2 {
    border-bottom: 1px solid var(--Icon);
    font-size: clamp(36px, calc(4vw + 16px), 64px);
    letter-spacing: 0em;
    margin-bottom: 26px;
    padding-bottom: 53px;
    max-width: 385px;
  }
}

header span {
  // line-height: 96px;
  font-size: clamp(48px, calc(4vw + 28px), 96px);
  font-weight: 300;
  font-family: "Merriweather", serif;
  letter-spacing: -2px;
  margin-top: 30px;
}
.contact-name {
  font-size: clamp(24px, calc(16px + 1vw), 36px);
  color: var(--Icon);
  & a {
    color: var(--Icon);
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    gap: 80px;
  }
  .hero-content h2 {
    margin-bottom: 13px;
    padding-bottom: 26px;
  }
}
