.hero-bg {
  width: 20vw;
  position: absolute;
  right: 0;
  top: 0;
}
.hero-bg img {
  width: 100%;
  object-fit: contain;
}
.hero-content {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
header div {
  border-bottom: 1px solid #d7d8da;
}
h2 {
  font-size: 64px;
  letter-spacing: 0em;
  margin-bottom: 60px;
}
header p {
  // line-height: 96px;
  font-size: 96px;
  font-weight: 300;
  font-family: "Merriweather", serif;
  letter-spacing: -2px;
  margin-top: 30px;
}
.contact-info {
  font-size: 36px;
  color: #d7d8da;
}
.contact-info a {
  color: #d7d8da;
  text-decoration: none;
}
