.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 60px;
}
.skills-list li {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 27px;
}
.skills-list li p {
  font-size: 36px;
  font-weight: 400;
  line-height: 55px;
}
.skills {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.skills h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 48px;
  margin-bottom: 60px;
}
