.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 60px;
  & li {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 27px;
    & img {
      width: 30px;
    }
    & p {
      font-size: clamp(14px, calc(10px + 1vw), 36px);
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
.skills {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .skills-list {
    row-gap: 28px;
  }
  .skills-list li {
    gap: 12px;
  }
}
@media screen and (max-width: 320px) {
  .skills-list {
    justify-items: flex-start;
    column-gap: 10px;
  }
  .skills-list li {
    width: unset;
  }
}
