/* .App {
  text-align: center;
} */
:root {
  --PrimaryBlack: #252525;
  --PrimaryWhite: #fafafa;
  --AccentBrown: #8a000080;
  --AccentGrey: #d9d9d9;
  --Icon: #d7d8da;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 150px 0;
  position: relative;
  min-height: min(100vh, 900px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.black-section {
  background-color: #252525;
  color: #fafafa;
}

.content {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
}
body {
  font-family: "Anonymous Pro", monospace;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(20px, calc(3vw), 48px);
}
.h3-margin-bottom {
  margin-bottom: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 85px 0;
  }
  .h3-margin-bottom {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  #skills-section {
    min-height: min(60vh, 900px);
  }
}
