/* .App {
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 150px 0;
  position: relative;
}
.black-section {
  background-color: #252525;
  color: #fafafa;
}

body {
  font-family: "Anonymous Pro", monospace;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
